body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: #232323;
}
div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
h1 {
  font-family: "Londrina Shadow", cursive;
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 70px 0;
}
p {
  color: rgba(255, 255, 255, 1);
  background: black;
  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.first {
  background-image: url("../pics/beshparmak.jpg");
}
.second {
  background-image: url("../pics/hamb.jpg");
}
.dessert {
  background-image: url("../pics/pevko.jpg");
}
.price {
  float: right;
}
@media (max-width: 500px) {
  h1 {
    margin-top: 20px;
    line-height: 40px;
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  div {
    margin: 20px 12px 0 12px;
  }
}
